<template>
  <div class="login-box">
    <div class="mb15">
      <el-row>
         <el-col><el-input v-model="info.username" placeholder="请输入用户名"></el-input></el-col>
      </el-row>
     </div>
     <div class="mb15">
      <el-row>
         <el-col><el-input v-model="info.password" placeholder="请输入密码"></el-input></el-col>
      </el-row>
      </div>
      <div class="mb15">
      <el-row>
      <el-button class="btn primary" @click="login" type="primary">登录</el-button>
      </el-row>
      </div>
  </div>
</template>
<script>
import apiurl from '@/api/api'
import qs from 'qs'
export default {
  name: 'Login',
  data () {
    return {
      info: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    login () {
      let _this = this
      this.$http({
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'POST',
        url: apiurl.login_url + 'api/login/',
        data: qs.stringify(this.info)
      }).then(function (respones) {
        const data = respones.data
        console.log(respones)
        if (data.status === 9999) {
          _this.$message({
            message: data.message,
            type: 'error'
          })
        }
        if (data.status === 200) {
          _this.$router.push({path: '/FirstPage'})
        }
      })
    }
  }
}
</script>
<style>
.login-box{
position: absolute;
width: 300px;
height:200px;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background: #fff;
padding: 40px 60px;
}
.mb15{
margin-bottom:15px!important;
}
.primary{
width:300px;
height:40px;
}
</style>
