<template>
 <el-container>
 <el-header class="header">
 <div class="logo">测试管理系统</div>
 <div class="dropdown">
 <el-dropdown @command="handleCommand">
  <span class="el-dropdown-link"><i class="el-icon-s-custom"></i></span>
  <el-dropdown-menu slot="dropdown">
    <el-dropdown-item>修改密码</el-dropdown-item>
    <el-dropdown-item command="loginout">退出登录</el-dropdown-item>
  </el-dropdown-menu>
</el-dropdown>
</div>
 </el-header>
  <el-container>
  <el-aside class="left">
    <el-menu
      :router="true"
      default-active="2"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose"
      background-color="rgb(54,70,94)"
      text-color="#fff"
      active-text-color="rgb(32,160,255)">
      <el-menu-item index="/FirstPage">
        <i class="el-icon-office-building"></i>
      <span slot="title">首页</span>
      </el-menu-item>
      <el-submenu index="2">
        <template slot="title">
          <i class="el-icon-notebook-1"></i>
          <span>计划管理</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="/TestPlanManage">测试计划管理</el-menu-item>
          <el-menu-item index="/StudyPlanManage">学习计划管理</el-menu-item>
        </el-menu-item-group>
 </el-submenu>
</el-menu>
  </el-aside>
    <el-main>
  <div class="views">
    <router-view/>
  </div>
  </el-main>
   </el-container>
  </el-container>
</template>
<script>
export default {
  methods: {
    handleOpen (key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      console.log(key, keyPath)
    },
    handleCommand (command) {
      if (command === 'loginout') {
        this.$router.push('/Login')
      }
    }
  }
}
</script>
<style>
.header{
width:100%;
height:70px!important;
background: #242f42;
}
.logo{
float:left;
width:150px;
line-height:70px;
font-size:22px;
color:#fff
}
.left{
width:220px!important;
height:850px;
background: rgb(54,70,94);
}
.cxjhgl{
width:0;
}
.el-submenu__title{
text-align:left;
}
.user-name{
margin-left:50px;
}
.el-dropdown-link{
cursor: pointer;
color: #409EFF;
}
.el-icon-arrow-down{
font-size: 12px;
}
.dropdown{
float:right;
width:150px;
line-height:70px;
}
.el-dropdown-link{
font-size:15px;
color:#fff
}
.el-menu-item{
text-align:left;
}
</style>
