<template>
<el-container>
<el-header height="100px">

<!--查询学习计划-->
<div class="text_left">
<el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">
  <el-form-item label="学习计划名称" prop="plan_name">
    <el-input v-model="formInline.plan_name" placeholder="请输入学习计划名称"></el-input>
  </el-form-item>
    <el-form-item label="学习人员" prop="learner_name">
  <el-input v-model="formInline.learner_name" placeholder="请输入参与人员"></el-input>
   </el-form-item>
  <el-form-item label="状态" prop="status">
    <el-select v-model="formInline.status" placeholder="选择状态">
        <el-option label="未开始" value="未开始"></el-option>
        <el-option label="进行中" value="进行中"></el-option>
        <el-option label="已完成" value="已完成"></el-option>
    </el-select>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" @click="planQuery">查询</el-button>
    <el-button @click="resetForm('formInline')">清除</el-button>
  </el-form-item>
</el-form>
</div>

<!--添加学习计划-->
<div class="text_left">
  <el-button type="primary" @click="addplan">添加学习计划</el-button>
</div>

<el-dialog title="添加学习计划" :visible.sync="dialogFormVisible" :append-to-body="true" @close="closeDialog">
  <el-form :model="form" :rules="rules" ref="contentForm">
    <el-form-item label="学习计划名称" :label-width="formLabelWidth" prop="plan_name">
      <el-input v-model="form.plan_name" auto-complete="off" placeholder="请输入学习计划名称"></el-input>
    </el-form-item>
    <el-form-item label="学习人员" :label-width="formLabelWidth" prop="learner_name">
    <el-input v-model="form.learner_name" auto-complete="off" placeholder="请输入学习人员"></el-input>
    </el-form-item>
    <el-form-item label="计划状态" :label-width="formLabelWidth" prop="status">
    <el-select v-model="form.status" placeholder="请选择计划状态">
        <el-option label="未开始" value="未开始"></el-option>
        <el-option label="进行中" value="进行中"></el-option>
        <el-option label="已完成" value="已完成"></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="计划开始时间" :label-width="formLabelWidth" prop="start_time">
    <template>
    <div class="block">
    <el-date-picker
      v-model="form.start_time"
      type="date"
      placeholder="选择日期"
      format="yyyy 年 MM 月 dd 日"
      value-format="yyyy-MM-dd">
    </el-date-picker>
    </div>
    </template>
    </el-form-item>

    <el-form-item label="计划结束时间" :label-width="formLabelWidth" prop="end_time">
    <template>
    <div class="block">
    <el-date-picker
      v-model="form.end_time"
      type="date"
      placeholder="选择日期"
      format="yyyy 年 MM 月 dd 日"
      value-format="yyyy-MM-dd">
    </el-date-picker>
    </div>
    </template>
    </el-form-item>
    <el-form-item label="学习内容" :label-width="formLabelWidth" prop="contents">
    <el-input type="textarea" :rows="5" v-model="form.contents" auto-complete="off" placeholder="请输入学习内容"></el-input>
    </el-form-item>
    <el-form-item label="学习进度" :label-width="formLabelWidth" prop="percentage">
      <el-progress :percentage="form.percentage" :color="customColors"></el-progress>
      <div>
        <el-button-group>
          <el-button icon="el-icon-minus" @click="decrease"></el-button>
          <el-button icon="el-icon-plus" @click="increase"></el-button>
        </el-button-group>
      </div>
     </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="cancelRecharge('contentForm')">取 消</el-button>
    <el-button type="primary" @click="sureRecharge('contentForm')">确 定</el-button>
  </div>
</el-dialog>

</el-header>
<el-main>
 <div>
    <el-table
    :data="tableData"
    border
    style="width: 100%">
    <el-table-column
      prop="plan_name"
      label="学习计划名称"
      width="150">
    </el-table-column>
    <el-table-column
      prop="learner_name"
      label="学习人员"
      width="150">
    </el-table-column>
    <el-table-column
      prop="status"
      width="150"
      label="状态">
    </el-table-column>
    <el-table-column
      prop="start_time"
      label="开始时间"
      width="150">
    </el-table-column>
    <el-table-column
      prop="end_time"
      label="结束时间"
      width="150">
    </el-table-column>
    <el-table-column label="操作">
    <template slot-scope="scope">
    <el-button type="text" @click="showDetail(scope.row.plan_name)">查看</el-button>
    <el-button type="text" @click="updateDetail(scope.row.plan_name)">修改</el-button>
    <el-button type="text" @click="deletePlan(scope.row.plan_name)">删除</el-button>
    </template>
    </el-table-column>
  </el-table>

  <!--查看测试计划-->
  <el-dialog title="测试计划详情" :visible.sync="dialogTableVisible" :append-to-body="true">
    <div class="tabtop13">
    <table  width="100%" border="0" cellspacing="0" cellspadding="0">
    <tr>
      <td>测试计划名称</td>
      <td width="450px">{{tableData1.plan_name}}</td>
    </tr>
    <tr>
      <td>关联需求编号</td>
      <td width="450px">{{tableData1.req_number}}</td>
    </tr>
    <tr>
      <td>测试人员</td>
      <td width="450px">{{tableData1.tester_name}}</td>
    </tr>
    <tr>
      <td>计划状态</td>
      <td width="450px">{{tableData1.status}}</td>
    </tr>
    <tr>
      <td>计划开始时间</td>
      <td width="450px">{{tableData1.start_time}}</td>
    </tr>
    <tr>
      <td>计划结束时间</td>
      <td width="450px">{{tableData1.end_time}}</td>
    </tr>
    </table>
    </div>
   </el-dialog>

<!--修改测试计划-->
<el-dialog title="修改测试计划" :visible.sync="dialogFormVisible2" :append-to-body="true" @close="closeDialog2">
  <el-form :model="form2" :rules="rules" ref="contentForm2">
    <el-form-item label="测试计划名称" :label-width="formLabelWidth" prop="plan_name">
      <el-input v-model="form2.plan_name" auto-complete="off" placeholder="请输入测试计划名称" :disabled="true"></el-input>
    </el-form-item>
    <el-form-item label="关联需求编号" :label-width="formLabelWidth" prop="req_number">
    <el-input v-model="form2.req_number" auto-complete="off" placeholder="请输入关联需求编号"></el-input>
    </el-form-item>
    <el-form-item label="测试人员" :label-width="formLabelWidth" prop="tester_name">
    <el-input v-model="form2.tester_name" auto-complete="off" placeholder="请输入测试人员"></el-input>
    </el-form-item>
    <el-form-item label="计划状态" :label-width="formLabelWidth" prop="status">
    <el-select v-model="form2.status" placeholder="请选择计划状态">
        <el-option label="未提测" value="未提测"></el-option>
        <el-option label="冒烟测试中" value="冒烟测试中"></el-option>
        <el-option label="系统测试中" value="系统测试中"></el-option>
        <el-option label="已完成待发布" value="已完成待发布"></el-option>
        <el-option label="已完成已发布" value="已完成已发布"></el-option>
      </el-select>
    </el-form-item>

    <el-form-item label="计划开始时间" :label-width="formLabelWidth" prop="start_time">
    <template>
    <div class="block">
    <el-date-picker
      v-model="form2.start_time"
      type="date"
      placeholder="选择日期"
      format="yyyy 年 MM 月 dd 日"
      value-format="yyyy-MM-dd">
    </el-date-picker>
    </div>
    </template>
    </el-form-item>

    <el-form-item label="计划结束时间" :label-width="formLabelWidth" prop="end_time">
    <template>
    <div class="block">
    <el-date-picker
      v-model="form2.end_time"
      type="date"
      placeholder="选择日期"
      format="yyyy 年 MM 月 dd 日"
      value-format="yyyy-MM-dd">
    </el-date-picker>
    </div>
    </template>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="cancelRecharge2('contentForm2')">取 消</el-button>
    <el-button type="primary" @click="sureRecharge2('contentForm2')">确 定</el-button>
  </div>
</el-dialog>
 </div>

<!--分页-->
<div class="text_page">
 <el-pagination
  background
  layout="prev, pager, next"
  :total='total1'
  :current-page.sync="cPage"
  @current-change="currentchange">
</el-pagination>
</div>

 </el-main>
 </el-container>
</template>

<script>
import apiurl from '@/api/api'
import qs from 'qs'
export default {
  data () {
    return {
      tableData: [],
      tableData1: [],
      dialogTableVisible: false,
      dialogFormVisible: false,
      dialogFormVisible2: false,
      formLabelWidth: '120px',
      total1: 0,
      cPage: 1,
      customColors: [
        {color: '#f56c6c', percentage: 20},
        {color: '#e6a23c', percentage: 40},
        {color: '#5cb87a', percentage: 60},
        {color: '#1989fa', percentage: 80},
        {color: '#6f7ad3', percentage: 100}
      ],
      form: {
        plan_name: '',
        learner_name: '',
        status: '',
        start_time: '',
        end_time: '',
        contents: '',
        percentage: 0
      },
      form2: {
        plan_name: 'wfgwdf',
        req_number: '',
        tester_name: '',
        status: '',
        start_time: '',
        end_time: ''
      },
      formInline: {
        plan_name: '',
        learner_name: '',
        status: ''
      },
      rules: {
        plan_name: [
          {required: true, message: '请输入学习计划名称', trigger: 'blur'},
          {max: 30, message: '长度不能超过30个字符', trigger: 'blur'}
        ],
        learner_name: [
          {required: true, message: '请输入学习人员', trigger: 'blur'},
          {max: 30, message: '长度不能超过30个字符', trigger: 'blur'}
        ],
        status: [
          {required: true, message: '请选择计划状态', trigger: 'change'}
        ],
        contents: [
          {max: 400, message: '长度不能超过400个字符', trigger: 'blur'}
        ]
      }
    }
  },

  // 初始化页面时
  created () {
    let _this = this
    this.$http({
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      method: 'GET',
      url: apiurl.login_url + 'api/paging_studyplan/',
      params: {currentPage: 1}
    }).then(function (respones) {
      let _data = respones.data
      _this.tableData = _data
      console.log(respones)
    }).then(function (respones) { // 统计总共条数
      _this.$http({
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'GET',
        url: apiurl.login_url + 'api/count_studyplan/'
      }).then(function (respones) {
        _this.total1 = respones.data.total
      })
    })
  },
  methods: {

    // 详情页面方法
    showDetail (name) {
      let _this = this
      this.$http({
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'GET',
        url: apiurl.login_url + 'api/look_testplan/',
        params: {plan_name: name}
      }).then(function (respones) {
        _this.dialogTableVisible = true
        _this.tableData1 = respones.data.message[0]
        console.log(name)
      })
    },

    // 修改页面方法
    updateDetail (name) {
      let _this = this
      this.$http({
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'GET',
        url: apiurl.login_url + 'api/look_testplan/',
        params: {plan_name: name}
      }).then(function (respones) {
        _this.dialogFormVisible2 = true
        _this.form2 = respones.data.message[0]
      })
    },
    cancelRecharge2 (formname) {
      let _this = this
      _this.dialogFormVisible2 = false
    },
    sureRecharge2 (formname) {
      let _this = this
      _this.$http({
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'POST',
        url: apiurl.login_url + 'api/edit_testplan/',
        data: qs.stringify(_this.form2)
      }).then(function (respones) {
        const data = respones.data
        if (data.status === 9999) {
          _this.$message({
            message: data.message,
            type: 'error'
          })
        }
        if (data.status === 200) {
          _this.dialogFormVisible2 = false
          _this.$message({
            message: data.message,
            type: 'success'
          })
        }
      }).then(function (respones) {
        _this.$http({
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          method: 'GET',
          url: apiurl.login_url + 'api/paging_testplan/',
          params: {currentPage: 1}
        }).then(function (respones) {
          _this.cPage = 1
          let _data = respones.data
          _this.tableData = _data
          console.log(respones)
        })
      })
    },
    closeDialog2 () {
      let _this = this
      _this.dialogFormVisible2 = false
    },

    // 删除方法
    deletePlan (name) {
      let _this = this
      this.$confirm('该学习计划将被删除, 是否继续？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        _this.$http({
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          method: 'POST',
          url: apiurl.login_url + 'api/del_studyplan/',
          data: qs.stringify({plan_name: name})
        }).then(function (respones) {
          _this.$message({
            type: 'success',
            message: '该学习计划删除成功!'
          })
        }).then(function (respones) {
          _this.$http({
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
            },
            method: 'GET',
            url: apiurl.login_url + 'api/paging_studyplan/',
            params: {currentPage: 1}
          }).then(function (respones) {
            _this.cPage = 1
            let _data = respones.data
            _this.tableData = _data
            console.log(respones)
          }).then(function (respones) {
            _this.$http({
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
              },
              method: 'GET',
              url: apiurl.login_url + 'api/count_studyplan/'
            }).then(function (respones) {
              _this.total1 = respones.data.total
            })
          })
        })
      }).catch(() => {
        _this.$message({
          type: 'info',
          message: '已取消删除该学习计划'
        })
      })
    },

    // 增加页面方法
    addplan () {
      this.dialogFormVisible = true
    },
    sureRecharge (formname) {
      let _this = this
      _this.dialogFormVisible = true
      _this.$http({
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'POST',
        url: apiurl.login_url + 'api/add_studyplan/',
        data: qs.stringify(_this.form)
      }).then(function (respones) {
        const data = respones.data
        console.log(respones)
        if (data.status === 9999) {
          _this.$message({
            message: data.message,
            type: 'error'
          })
        }
        if (data.status === 200) {
          _this.$message({
            message: data.message,
            type: 'success'
          })
          _this.$refs[formname].resetFields()
          _this.dialogFormVisible = false
          _this.currentchange(1)
        }
      }).then(function (respones) {
        _this.$http({
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          method: 'GET',
          url: apiurl.login_url + 'api/count_studyplan/'
        }).then(function (respones) {
          _this.total1 = respones.data.total
        })
      })
    },
    cancelRecharge (formname) {
      let _this = this
      _this.$refs[formname].resetFields()
      _this.dialogFormVisible = false
    },
    closeDialog () {
      let _this = this
      _this.$refs['contentForm'].resetFields()
    },
    onSubmit () {
      console.log('submit!')
    },

    // 分页方法
    currentchange (planpage) {
      let _this = this
      _this.$http({
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'GET',
        url: apiurl.login_url + 'api/paging_studyplan/',
        params: {currentPage: planpage}
      }).then(function (respones) {
        let _data = respones.data
        _this.tableData = _data
        console.log(respones)
      })
    },

    // 查询方法
    planQuery () {
      let _this = this
      _this.$http({
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        },
        method: 'GET',
        url: apiurl.login_url + 'api/query_studyplan/',
        params: _this.formInline
      }).then(function (respones) {
        let _data = respones.data
        _this.tableData = _data
      }).then(function (respones) {
        _this.$http({ // 统计查询后条数
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          method: 'GET',
          url: apiurl.login_url + 'api/pagect_studyplan/',
          params: _this.formInline
        }).then(function (respones) {
          _this.total1 = respones.data.total
        })
      })
    },
    resetForm (formInlines) {
      this.$refs[formInlines].resetFields()
    },
    increase () {
      let _this = this
      _this.form.percentage += 10
      if (_this.form.percentage > 100) {
        _this.form.percentage = 100
      }
    },
    decrease () {
      let _this = this
      _this.form.percentage -= 10
      if (_this.form.percentage < 0) {
        _this.form.percentage = 0
      }
    }
  }
}
</script>
<style>
.tabtop13 td{
  padding:10px;
  border:1px solid #ebeef5;
}
.text_left{
  text-align: left;
}
.text_page{
padding:30px;
}
.el-table td{
  padding:0px;
}
</style>
